@keyframes move {
    0% {
        left: -300px;
    }
    100% {
        left: 100%;
    }
}
.pingu-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    .pingu {
        position: fixed;
        width: 300px;
        height: auto;
        bottom: 0;
        animation: move 2s cubic-bezier(0,.5,1,.5) infinite;
    }
}

.background-pinga {
	position: fixed;
	z-index: -1;
	width: 100%;
	left: 0;
	top: 0;
}

.loginbtn {
    opacity: 70%;
    font-size: 300%;
    border-radius: 10px;
}