@keyframes move {
    0% {
        left: -300px;
    }
    100% {
        left: 100%;
    }
}
.pingu-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    .pingu {
        position: fixed;
        width: 300px;
        height: auto;
        bottom: 0;
        animation: move 2s cubic-bezier(0,.5,1,.5) infinite;
    }
}

.background-pinga {
	position: fixed;
	z-index: -1;
	width: 100%;
	left: 0;
	top: 0;
}

.loginbtn {
    opacity: 70%;
    font-size: 300%;
    border-radius: 10px;
}

.certTable {
    opacity: 70%;
    background-color: skyblue;
    font-size: 150%;
    border-radius: 10px;
}

.confirmBtn {
    font-size: 80%;
    background-color: pink;
    border-radius: 5px;
}

.confirmBtn:hover {
    background-color: white;
}

.initForm {
    opacity: 70%;
    background-color: white;
    font-size: 150%;
    border-radius: 10px;
}

.initForm .profile-button {
    background-color: skyblue;
    border-radius: 5px;
}

.initForm .profile-button:hover {
    background-color: yellow;
}

.profile-button-wrapper #profile-btn {
    background-color: skyblue;
    border-radius: 5px;
}

.profile-button-wrapper #profile-btn:hover {
    background-color: yellow;
}

.initForm .profile-image {
    height: 200px;
    width: 200px;
}
