.chat-form-wrapper {
    display: flex; 
    flex-direction: column;
    .title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .wrapper {
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: 100px 200px;
        span {
            margin-right: 0.5rem;
        }
        input[type=text]  {
            border: 1px solid #393e46;
            background-color: #eeeeee;
        }
    }
}