.card-list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 310px;
    .card-list {
        min-width: 510px;
    }
    .card-list-button {
        font-size: 30px;
    }
}