server {
  listen 80;
  server_name ${SERVER_HOST};

  # 도커 네트워크 기본 dns서버 주소.
  resolver 127.0.0.11;

  # domain name을 ip 주소로 치환하기 위한 설정\
  set $front pong_front;
  set $nestjs pong_nestjs;

  location / {
    proxy_pass http://$front:3000;
  }

  location /api {
    proxy_pass http://$nestjs:3000;
  }
}